name: Build tests and archive executable

on:
  pull_request:
  push:
    branches:
      - "main"
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

# Make sure that there is one job per branch
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout current repository
              uses: actions/checkout@v4
            - name: Build smc_verifiable_plugins
              run: |
                    mkdir build
                    cd build
                    cmake .. -DCMAKE_BUILD_TYPE=Release
                    make
            - name: Setup python3 for pre-commit
              uses: actions/setup-python@v5
              with:
                python-version: '3.10'
            - name: Update pip
              run: |
                    pip install --upgrade pip
                    pip install setuptools_rust
            - name: Run pre-commit linters
              uses: pre-commit/action@v3.0.1
            - name: Run tests
              run: |
                    cd build
                    ctest
